* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}
a{
    text-decoration: none;
}
html,body{
    background: #f5f5f5;
    font-size: 100%;
    font-family: Arial, 微软雅黑;
}
/*footer*/
.scroll_top {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 160px;
    right: 40px;
    background: #393939;
    display: none;
}

.scroll_top i {
    position: absolute;
    cursor: pointer;
    color: #fff;
    left:18px;
    top:11px;
}