.wonderful_top {
    width: 100%;
    height: 270px;
    background: url("../images/wonderful.jpg") no-repeat;
    background-size: contain;
    text-align: center;
    overflow: hidden;
}

.wonderful_wrap h1 {
    color: #fff;
    font-size: 40px;
    font-weight: normal;
    margin: 112px auto 0;
}

.wonderful_main {
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}

.wonderful_left {
    width: 72%;
    float: left;
    padding: 30px;
    background: #ffffff;
    border-bottom: 1px solid #f0f2f5;
    margin-bottom: 30px;
    overflow: hidden;
}

.wonderful_right {
    width: 17%;
    float: right;
    margin-left: 30px;
    padding: 20px;
    background: #ffffff;
}

.wonderful_left dl {
    border-bottom: 1px solid #f0f2f5;
    padding-bottom: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}

.wonderful_left dl > * {
    float: left;
}

.wonderful_left dt {
    width: 160px;
    height: 100px;
    margin-right: 20px;
}

.wonderful_left dt img {
    width: 100%;
}

.wonderful_wrap h4 {
    color: #464646;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 20px;
}

.wonderful_wrap p {
    color: #6a6a6a;
    margin-bottom: 10px;
    font-size: 13px;
}

.wonderful_wrap span {
    font-size: 16px;
    font-weight: 300;
    color: #a3afb7;
    margin-left: 10px;
}

.wonderful_left dd img {
    margin-left: 10px;
}

.wonderful_left span:last-child {
    margin-left: 4px;
}

.wonderful_box > div {
    display: none;
}

.wonderful_tab {
    width: 200px;
    margin: 0 auto;
}

.wonderful_tab li {
    float: left;
    width: 42px;
    height: 42px;
    border: 1px solid #e4eaec;
    background: #fff;
    text-align: center;
    line-height: 42px;
    color: #76838f;
    margin-right: 20px;
    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    -moz-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    -webkit-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    -o-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.wonderful_tab li.wonderful_cur {
    border-color: #292929;
    background: #292929;
    color: #fff;
    cursor: pointer;
}

.search_input {
    margin-top: 9px;
    position: relative;
}

.search_btn {
    position: absolute;
    top: 12px;
    right: 20px;
    width: 14px;
    height: 14px;
    background: url("../images/search.png") no-repeat;
    background-size: 100% 100%;
    border: none;

}

.search_input input {
    height: 36px;
    width: 200px;
    border-radius: 40px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #ccc;
    text-indent: 2rem;
    outline: none;
}

.search_input input.checked {
    border-color: #464646;
}

.wonderful_content {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #f0f2f5;
    border-bottom: 1px solid #f0f2f5;
}

.wonderful_content h3 {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2em;
    color: #37474f;
}
.list-group{
    margin-top: 10px;
}
.list-group li{
    padding: 10px 15px;
    border:1px solid  #e4eaec;
    border-radius: 3px ;
    color: #464646;
    font-size: 15px;
}
.list-group li:nth-of-type(even){
    border-bottom: none;
}
.list-group li:first-child,.list-group li:nth-child(3){
    border-bottom: none;
}
.wonderful_nav{
    margin-bottom: 11px;
}
.wonderful_nav li{
    width: 64px;
    color: #464646;
    line-height: 26px;
    font-size: 16px;
}
.wonderful_nav li.wonderful_now{
    border-bottom: 1px solid #444;
}