.header_wrap {
    min-height: 300px !important;
}

.header_info {
    display: none;
}

.about_content_wrap {
    margin: 6em 0;
}

.about_content_wrap h3 {
    text-transform: capitalize;
    font-size: 2em;
    color: #6ea145;
    font-family: 'Josefin Sans', sans-serif;
    margin: 4em 0 0;
}

.about_content_wrap p {
    text-transform: capitalize;
    font-size: 14px;
    color: #999;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8em;
}

@media (max-width: 768px) {
    .about_content_wrap h3 {
        margin: 2em 0 0;
    }
}