.contact .contact_main {
    width: 100%;
    padding: 0;
}

.middle_content {
    width: 1100px;
    margin: 0 auto;
}

.contact_middle h1 {
    white-space: normal;
    text-align: center;
    color: rgb(68, 68, 68);
    font-size: 28px;
    font-family: HELVETICANEUELTPRO-THEX, 微软雅黑;
}

.contact_middle span {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 20px;
    color: rgb(34, 34, 34);
}

.contact_middle p {
    line-height: 1.8rem;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #222;
    margin-bottom: 11px;
}

.contact_footer h2 {
    color: #595959;
    font-size: 18px;
    margin-bottom: 24px;

}

.contact_footer .col-lg-4 {
    padding: 8px;
    border: 1px solid #e4eaec;;
    background-color: rgba(243, 247, 249, 0.298039);
}

.contact_footer .col-lg-4:nth-of-type(even) {
    border-right: none;
    border-left: none;
}

.contact_footer p {
    color: #2a333c;
    font-size: 14px;
    font-weight: 300;
}
