.three .container .row .col-lg-4 span{
    display: block;
    margin-left: 136px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 34px;
    color: #71a245;
    margin-top:110px;
}
.three .container .row .col-lg-4 p{
     color: #99a6bf;
    font-size: 18px;
    text-align: center;
    margin-top: 23px;
}
@media (max-width: 768px) {
    .three>.container>.b{
        display: block;
    }
    .three>.container>.a{
        display: none;
    }
}