*{
    margin: 0px;
    padding: 0px;
}
.bolg>.container>.row>h3{
    color: #72927b;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 34px;
}
.bolg>.container>.row>h4{
    color: #c3c3c3;
    font-size: 24px;
    margin-top: 38px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: capitalize;
}
.bolg .container .row p{
    color: #a8a9a1;
    font-size: 18px;
}
.bolg .container .row div{
    margin-top: 50px;
}
.bolg .container .row div ul{
    width: 100%;
}
.bolg .container .row div ul li{
    width: 25%;
    float: left;
    text-align: inherit;
}
.bolg .container .row div ul li a{
    color: #cccbc6;
}
.more a{
    width: 145px;
    height: 40px;
    background: #6ea145;
    margin: 60px 0 0;
    font-family: 'Josefin Sans', sans-serif;
}

.more a:hover{
    background: #cccbc6;
    color: #6ea145;
}
.bolg>.container>.row>.col-lg-5>p{
    color: #72927b;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 34px;
    margin-top: 24px;
}
.bolg .container .row .col-lg-5 input:nth-child(1){
    margin-top: 28px; ;
}
.bolg .container .row .col-lg-5 input{
    font-size: 10px;
    color: #cacaca;
}
.bolg .container .row .col-lg-5 .row .col-lg-9 ul li{
    width: 100%;
    white-space: pre;
}
.bolg .container .row .col-lg-5 .row{
    margin-top: -42px;
}
.bolg .container .row .row .more{
    text-align: center;
    margin-top: 0px;
    margin-left: -64px;
}
.bolg .container .row .row .more a{
    width: 80%;
    height:100%;
}
.recent{
    padding-left: 10px;
    color: #72927b;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 34px;
    margin-bottom: 38px;
}
.bolg .container .row .right_text h3{
    margin-top: -44px;
    text-transform: capitalize;
    font-family: 'Josefin Sans', sans-serif;
    font-size:16px;
    color:#cacaca ;
}
.bolg .container .row .right_text h4{
    margin-top: 0px;
    font-size: 16px;
    color:#72927b ;
}
.bolg .container .row .right_text p{
    margin-top: 0px;
    font-size: 16px;
    color:#cacaca  ;
}
.bolg .container .row .right_text .more a{
    margin-top: 20px;
    text-align: center;
    width: 40%;
    height: 40%;
    border-radius: 5px;
    margin-left: -56px;
    background: #2b7abc;
}
.bolg .container .row .col-lg-5 .second{
    margin-top: 15px;
}
.img_right img{
    margin-top:107px;
}
.recent_img .row:nth-child(1){
    color: #72927b;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 34px;
}
.img_right>h3{
    font-size: 16px!important;
    color: #595856!important;
    margin-top:123px!important;
}
.img_right>h4{
    color: #72927b;
    font-size: 28px;
    font-family: 'Josefin Sans', sans-serif;
}
.Lorem{
    margin-top: 22px!important;
}
.error{
    margin-top: -200px!important;
}

