.footer-wrap{
    padding: 4em 0 ;
    background: #242424;
}
.footer-wrap h3{
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 1.4em;
    margin-bottom:0.5em ;
    color: #fff;
}
.footer-wrap  ul li a{
    color: #848484;
    display: block;
    padding: 5px 0;
    font-size: 14px;
}
.footer-wrap .col-lg-4 a h3{
    /*margin: 0px;*/
    font-size: 2em;

}
.footer-wrap .col-lg-4 a small{
    font-size: 15px;
}
.footer-wrap .col-lg-4 p {
    font-family: 'Josefin Sans', sans-serif;
    color: #848484;
    line-height: 1.8em;
    font-size: 0.5em;
}
/*@media (min-width: 1200px){*/
    /*.col-lg-4 {*/
        /*width: 28.333333%;*/
    /*}}*/
.icon li{
    display: inline-block;
}
.icon li a {
    display: block;
    width: 32px;
    height: 32px;
    background: url("../images/icon-tb.png") no-repeat;
}

.icon li a.f {
    background-position: -5px -13px;
}

.icon li a.f:hover {
    background-position: -5px -59px;
}

.icon li a.f1 {
    background-position: -48px -13px;
}

.icon li a.f1:hover {
    background-position: -48px -58px;
}

.icon li a.f2 {
    background-position: -86px -13px;
}

.icon li a.f2:hover {
    background-position: -86px -58px;
}
@media (max-width: 992px) {
    .col-lg-4{
        display: block;
        top: -122px;
    }
    .footer-wrap .three{
        margin-top: 12px;
    }

}
@media (max-width:768px) {
    .footer-wrap .container .two{
        height: 0px;
    }
    .col-lg-4{
        width: 45%;
        display: block;
        top:-120px;
    }
    .footer-wrap .three{
        margin-top: 40px;
    }
}
@media (max-width: 480px) {
    .footer-wrap .col-xs-6{
        width: 50%;
    }
}
@media (max-width: 320px) {
    .footer-wrap .col-xs-6{
        width: 100%;
    }
}

