.top-content{
    padding: 5em 0 ;
}
.top-content .container .row h3{
    text-transform: capitalize;
    font-size: 1.8em;
    color: #6ea145;
    font-family: 'Josefin Sans', sans-serif;
}
.top-content .container .row h4{
    text-transform: capitalize;
    font-size: 15px;
    color: #9d4922;
    font-family: 'Josefin Sans', sans-serif;
}
.top-content .container .row p{
    line-height: 1.8em;
    font-size: 14px;
    color: #999;
    margin-bottom: 4em;
}
.top-content .container .row .more a:hover{
    background: #f0f0f0;
}
.middle-content .container .row .more a:hover{
    background: #f0f0f0;
}
.middle-content .container .row .middle-item h3{
    text-transform: capitalize;
    font-size: 1.8em;
    color: #9d4922;
    font-family: 'Josefin Sans', sans-serif;
}
.middle-content .container .row .middle-item p{
    line-height: 1.8em;
    font-size: 14px;
    color: #999;
    margin-bottom: 4em;
}
.middle-content .middle-item{
    padding-bottom: 3em;
    border-right: 1px #c6c5c0 solid;
}
.middle-content .middle-item img{
    padding-right: 0px;
}

/*banner*/
.banner_wrap{
    margin-top:160px;
}
.banner_wrap .col-lg-7{
    padding:0;
    /*margin:0;*/
}
.banner_wrap .col-lg-5{
    padding:0;
    /*margin:0;*/
    position: relative;
}
.banner_wrap .first_text{
    position: absolute;
    left:0;
    top:0;
}
.banner_wrap .first_text h3{
    text-transform: capitalize;
    font-size: 1.8em;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 15px;
}
.banner_wrap .first_text p{
    line-height: 1.8em;
    font-size: 20px;
    color: #6ea145;
    margin-bottom: 2em;
    padding-left: 15px;
}
.banner_wrap .first_text span{
    font-size: 14px;
    color: #fff;
    padding-left: 15px;
}
.carousel-inner .container .top .col-lg-3{
    position: relative;
}
.carousel-inner .container .top .col-lg-3 h3{
    margin-left: 15px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-size: 1.5em;
    position: absolute;
    top:0;
    left: 0px;
}
.carousel-inner .container .top .col-lg-3 span{
    color: #dddddd;
    margin-left: 15px;
    position: absolute;
    top: 96px;
    left: 0px;
}
#banner ol{
    bottom:-86px;
}
#banner .carousel-indicators  li{
    background: #6ea145;
    width: 20px;
    height: 20px;
}
#banner .carousel-indicators  .active{
    background: #c5c4bf;
}
.input{
    width: 100%;
    height: 200px;
    background: #c6c5c0;
    margin-top: 118px;
}
.input .container .row .col-lg-4{
    margin-top: 80px;
    font-family: 'Josefin Sans', sans-serif;
    color:#6ea145 ;
    font-size: 2em;
}
.input .container .row .col-lg-4 span{
    display: block;
    font-size: 13px;
    color: #3c413b;
}
.input .container .row input{
    margin-top: 80px;
    height: 50px;
    float: left;
}
.input .container .row .col-lg-2{
    height: 49px;
    background: #6ea145;
    margin-top: 80px;
    text-align: center;
    line-height: 49px;
    font-size: 20px;
    color: #fff;
    float: left;
}

@media (max-width: 1200px ) {

    .top_content .top_right p {
        margin: 0 0 2em;
    }
    .banner_wrap .first_text{
        width: 100%;
    }
    .banner_wrap .col-lg-5 img{
        width: 100%;
    }
    .carousel-inner .item .top .col-lg-4{
        width: 100%;
        padding-left: 0px;
    }
    .input .container .row .col-lg-4{
        margin-top: 40px;
        text-align: center;
        font-size: 1.5em;
    }
    .input .container .row input{
        width: 60%;
        margin-top: 40px;
        margin-left: 20%;
    }
    .input .container .row .col-lg-2{
        width: 10%;
        margin-top: 40px;
    }
}

@media (max-width: 992px ) {

    .middle-content {
        padding: 4em 0;
    }

    .top_content .top_right {
        margin: 2em 0 0;
    }
    .input .container .row .col-lg-4{
        margin-top: 40px;
        text-align: center;
        font-size: 1.5em;
    }
    .input .container .row input{
        width: 60%;
        margin-top: 40px;
        margin-left: 20%;
    }
    .input .container .row .col-lg-2{
        width: 10%;
        margin-top: 40px;
    }
}

@media (max-width: 768px ) {

    .middle-content {
        padding: 3em 0;
    }

    .top_content .top_right h3 {
        font-size: 1.6em;
    }

    .top_content .middle_item h3 {
        font-size: 1.2em;
    }
    .input .container .row .col-lg-4{
        margin-top: 40px;
       text-align: center;
        font-size: 1.5em;
    }
    .input .container .row input{
        width: 60%;
        margin-top: 40px;
        margin-left: 20%;
    }
    .input .container .row .col-lg-2{
        width: 10%;
        margin-top: 40px;
    }

}

@media (max-width: 480px ) {

    .middle-content {
        padding: 2em 0;
    }

    .top_content .top_right {
        margin-top: 2em;
    }
}

@media (max-width: 320px ) {
    .top_content .top-left {
        padding: 0 !important;
    }

    .top_content .top_right h3 {
        font-size: 1.4em;
    }

    .top_content .top_right h4 {
        font-size: 13px;
        margin: .5em 0;
    }

    .top_content .top_right p {
        font-size: 13px;
        margin: 0 0 1em;
    }

    .middle_content .middle_item p {
        font-size: 13px;
        margin: .5em 0 1em;
    }
    .input .container .row input{
        width: 50%;
        height: 30px;
        margin-top: 30px;
        margin-left: 20%;
    }
    .input .container .row .col-lg-2{
        height: 30px;
        width: 8%;
        margin-top: 30px;
    }
    .input .container .row .col-lg-2{
        line-height: 30px;
        font-size: 13px;
        padding-right:25px;
    }
}